.zoom-section {
    padding: 1rem;

    .zoom {
        align-items: center;
        display: flex;
        justify-content: flex-start;

        button:hover {
            color: var(--primary-color);
        }
    }
}