.category {
    margin-bottom: 2rem;
    text-align: left;

    .head {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .buttons {
        align-items: center;
        display: flex;
        font-size: .9rem;
        gap: .5rem;
        margin: 1rem 0;

        button {
            background-color: white;
            border: none;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            padding: .5rem;
            transition: .25s all;

            &:hover {
                transform: translateY(-2px);
            }

            &.selected {
                background-color: #74b9ff;
                color: white
            }
        }
    }

    ul {
        background-color: white;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        gap: 1rem;
        padding: 1rem;
        transition: .5s all;

        &.center {
            justify-content: center;
        }

        &.right {
            justify-content: right;
        }

        .add-product {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            justify-content: center;
            padding: 1rem;
            transition: .5s all;
        }
    }
}