.product-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 1rem;

    .title {
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: .25rem;
    }

    .price {
        font-weight: 600;
    }

    .text-container {
        position: relative;

        .remove-item {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            transition: .25s all;

            &:hover {
                color: #d63031;
            }
        }
    }

}