.product-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .title {
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: .25rem;
    }

    .price {
        font-weight: 600;
    }
}