@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222;
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  align-items: center;
  border: none;
  border-radius: 1rem;
  background: none;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  gap: .5rem;
  padding: .5rem;

  &.primary {
    background-color: #222;
    color: white;
    padding: .5rem 1rem;
  }

  &.secondary {
    border: 1px solid #ccc;
    padding: .5rem 1rem;
  }
}