@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222;
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #74b9ff;
  --body-color: #222;
  --light-gray: #888;
  --border-color: #ccc;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Form */ 

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  align-items: center;
  border: none;
  border-radius: 5rem;
  background: none;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  gap: .5rem;
  padding: .5rem;
  transition: .5s all;

  &.primary {
    background-color: var(--body-color);
    color: white;
    padding: .5rem 1rem;

    &:hover {
      background-color: var(--primary-color);
    }
  }

  &.secondary {
    border: 1px solid var(--border-color);
    padding: .5rem 1rem;

    &:hover {
      border-color: var(--body-color);
    }
  }
}